{% extends 'tickets/base.html' %}

{% block content %}
<div class="form-container">
    <h2 class="form-title">🎫 Create / Edit Event</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.label_tag }}<br>
            {{ form.name }}
        </div>
        <div class="form-group">
            {{ form.location.label_tag }}<br>
            {{ form.location }}
        </div>
        <div class="form-group">
            {{ form.date.label_tag }}<br>
            {{ form.date }}
        </div>
        <div class="form-group">
            {{ form.description.label_tag }}<br>
            {{ form.description }}
        </div>
        <div class="form-group">
            {{ form.file.label_tag }}<br>
            {{ form.file }}
        </div>
        <button type="submit" class="btn-primary">💾 Save</button>
    </form>

    <a href="{% url 'event_list' %}" class="back-link">🔙 Back to Events</a>
</div>
{% endblock %}
