{% extends 'tickets/base.html' %}

{% block title %}Events | Event Ticketing{% endblock %}

{% block content %}
<h2>📅 Event List</h2>
<a class="btn" href="{% url 'event_create' %}">+ Create New Event</a>

<ul class="event-list">
  {% for event in events %}
  <div class="event-card">
    {% if event.banner_url %}
      <img src="{{ event.banner_url }}" alt="Banner" class="banner-image">
    {% endif %}
    <h3 style="color: orange;">{{ event.name }}</h3>
    <p>{{ event.description }}</p>
    <p><strong>Location:</strong> {{ event.location }}</p>
    <p><strong>Date:</strong> {{ event.date }}</p>

    {% if event.event_id %}
      <p>
        <a href="{% url 'event_update' event.event_id %}">✏️ Edit</a> |
        <a href="{% url 'event_delete' event.event_id %}">🗑️ Delete</a>
      </p>
    {% endif %}
  </div>
{% endfor %}

</ul>
{% endblock %}
