{% extends "tickets/base.html" %}

{% block content %}
<div class="container">
    <h2 class="page-title"><i class="fa-solid fa-ticket"></i> Ticket List</h2>

    <p><a href="{% url 'ticket_create' %}">➕ Create Ticket</a></p>

    <ul>
        {% for ticket in tickets %}
        <li>
      🎫 Ticket for <strong>{{ ticket.attendee_name }}</strong> – 
      Event: {{ ticket.event_name }}<br>

        {% if ticket.event_image_url %}
        <img src="{{ ticket.event_image_url }}" alt="Event Image" style="max-width: 150px;">
        {% endif %}

      <a href="{% url 'ticket_update' ticket.ticket_id %}">✏️ Edit</a> |
      <a href="{% url 'ticket_delete' ticket.ticket_id %}">🗑 Delete</a>


      </li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'event_list' %}">🔙 Back to Events</a></p>
</div>
{% endblock %}
