# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# AWS credentials file
config.py

# OS files
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
