option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: event_ticketing_project.wsgi:application

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: event_ticketing_project.settings
    PYTHONPATH: /var/app/current
    AWS_STORAGE_BUCKET_NAME: event-ticketing-media-anuj-9821
    AWS_REGION: eu-west-1

  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: staticfiles/
